* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
}

/* colors and font styles */

.header,
.hero-section,
.footer {
    background-color: #1F2937;
}

.hero-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 8px;
}

.header-links,
.hero-subtext,
button,
.footer-text {
    font-size: 18px;
    color: #E5E7EB;
    margin: 8px;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

button,
.call-to-action-section {
    background-color: #3882F6;
    color: #F9FAF8;
}

.information-header {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.quote-section {
    background-color: #E5E7EB;
}

.quote-text {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
}

.quote-source {
    font-weight: 900;
    text-align: right;
}

/* layout */

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-links {
    list-style-type: none;
    display: flex;
    gap: 16px;
}

.hero-section {
    padding: 126px;
    display: flex;
    justify-content: center;
    gap: 32px;
}

.hero-wrapper {
    width: 450px;
    height: 250px;
}

button {
    font-size: 18px;
    font-weight: 900;
    padding: 8px 40px;
    border-radius: 8px;
}

.hero-placeholder {
    background-color: #808080; /* this color was not specified */
    width: 450px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.information-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.information-subsection {
    display: flex;
    justify-content: center;
    gap: 80px;
    padding-bottom: 80px
}

.image-wrapper {
    display: flex;
    flex-direction: column;
}

.information-placeholder {
    width: 112px;
    height: 112px;
    border: solid #3882F6;
    border-radius: 8px;
}

.information-subtext {
    width: 112px;
    text-align: center;
}

.quote-section {
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 80px;
}

.quote-text {
    max-width: 640px;
}

.quote-source {
    min-width: 640px;
}
